header {
  background: #ffffff;
  overflow: auto;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 45px auto;
  max-width: 975px; 
  position: relative;
}

.header__logo {
  display: inline-block;
  position: absolute;
  left: 0;
}

.header__sign-in {
  position: absolute;
  right: 0;
}

.header__sign-in__item {
  display: inline-block;  
}

.header__sign-in__redeem {
  border-right: 1px  #8f8e8b solid;
  color: #8f8e8b;
  display: inline-block;
  padding-right: 9px;
  text-decoration: none;
}

.header__redeem__text {
  margin-bottom: 0;
  margin-top: 0;
}
